/* VARIABLES GLOBALES */
:root {
  --bg-factory: #ffffff;
  --bg-card: #f8fafc;
  --text-main: #1e293b;
  --text-muted: #64748b;
  --primary-color: #0284c7; /* Azul Industrial */
  --border-color: #e2e8f0;
  --icon-filter: none;
}

/* CAMBIO DE VALORES EN MODO OSCURO */
[data-theme='dark'] {
  --bg-factory: #0f172a;
  --bg-card: #1e293b;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
  --primary-color: #38bdf8; /* Azul Neón */
  --border-color: #334155;
  --icon-filter: invert(100%); /* Invierte colores de iconos negros a blancos */
}

body {
  background-color: var(--bg-factory);
  color: var(--text-main);
  transition: all 0.3s ease; /* Transición suave de colores */
  margin: 0;
  font-family: 'Inter', sans-serif;
}